*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	overflow:hidden;
}
/**HEADER**/
@color-top_header: #4e8c9a;
@color-bottom_header: #5794a3;
@color-white: #ffffff;
@color-black: #000000;


header {
	color: @color-white;
	background: linear-gradient(to top,@color-bottom_header,@color-top_header);
}

.logo img {
	display: block;
	float: left;
}

.logo h3 {
	display: block;
	color: @color-black;
}

/**END**/


/**MAP**/
.map {
	height: 350px;
}
/**END**/
